#main{
    /* background-color: red; */
}
body{
    text-align: center;
    width: fit-content;
}
.name{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.summary p{
    font-size: 1.1rem;
    /* width: 15rem; */
}
.summary{
    /* width: 95%; */
    margin: 2px auto;
}
/* Smartphones */
@media (max-width: 500px) {
.navbarMain{
    flex-direction: column;
    background-color: #101010;
}
.navbarMain-alt{
    flex-direction: column;
    background-color: #101010;
}
.bio{
    height: 25rem;
    }
}
.anchorMain li{
   margin: auto;
}

.anchorMain{
    padding: 1rem;
}

.bio-left{
    display: none;
}
.container{
    flex-direction: column;
    /* background-color: blueviolet; */
}
.skillItem{
    padding: 1rem;
}
#contactMain{
        padding: 0;
}
.contact-right{
    border-top: 1px solid rgb(136, 136, 136);
    border-left: 0;
}
.contactContent{
    padding-top:2rem;
    padding-bottom: 2rem;
    width: 100%;
    flex-direction: column;
    background-color: rgba(54, 54, 54, 0.68);
    width: 90%;
}
.chart{
    width: 60%;
}