<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" media="screen and (max-width:709px)"href="style/mobile.css">
    <link rel="stylesheet" media="screen and (min-width:1100px)" href="style/widescreen.css">
    <link rel="stylesheet" media="screen and (max-width:1000px)" href="style/midscreen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <title>DFO</title>
</head>
<body>
    <div class="navbarMain">
            <div class="logo">
                <a href="#main"><img src="./images/logo.png" alt="" srcset=""></a>
            </div>
            <ul class="anchorMain">
                <li class="anchorItems"> <a href="#main">Home</a></li>
                <li class="anchorItems"> <a href="#aboutMain">About</a></li>
                <li class="anchorItems"> <a href="#skillMain">Skills</a></li>
                <li class="anchorItems"> <a href="#contactMain">Contact</a></li>
            </ul>
    </div>
    <div id="main">
        <div class="mainContent">
        <div class="name">
            <h1>David Odesola</h1>
        </div>
        <div class="summary">
            <p>I’m a passionate <span class="bold">Full-Stack Web developer</span>, <span class="bold">music producer</span>, and a <span class="bold">tech enthusiast</span>.  
                Personally, I believe that anything is achievable as long as long as you put your mind into it. 
                Start scrolling and get to know much more about me. </p>
        </div>
        <!-- <hr> -->
        <!-- <div class="accounts">
            <a href=""> <img src="./images/fb.png" alt="" srcset=""></a>
            <a href=""> <img src="./images/ig.png" alt="" srcset=""></a>
            <a href=""> <img src="./images/sc.png" alt="" srcset=""></a>
        </div> -->
        <br><br>
        <br>
        <a href="#aboutMain"><input type="image" id="down" class="animated infinite bounce delay-2s"src="./images/down-button.png"/></a>
    </div>
    </div>
    <div id="aboutMain">
        <div class="bio">
        <div class="bio-left">
        </div>
        <div class="bio-right">
            <div class="hobbies">
                <h2>ABOUT</h2>
                <br>
                <!--  -->
                <div class="nameMain">
                    <div class="nameImage"> <img src="./images/davidO.jpg" alt=""></div>
                    <div class="nameAbout"><p>Hey there!  Well, I've been a Web developer for about Two Years. Additionally, I have also done major projects with various clients.   
                    </p></div>
                </div>
                <br>
                <div class="extraMain ">
                    <div class="extraImage"> <img src="./images/giphy.webp" alt=""></div>
                    <div class="extraAbout"><p>My hobbies include Programming, Watching movies, Reading, and Surfing the Web. 
                    </p></div>
                </div>
                <!--  -->
            <!-- <h5>My Pie Chart of Hobbies</h5>
            <br>
            <div class="legendsMain">
                <div class="legendsItems">
                    <div class="legend"></div>
                    <h5>Programming</h5>
                </div>

                <div class="legendsItems">
                    <div class="legend" style="background-color: rgb(247, 86, 9);"></div>
                    <h5>Watching Movies</h5>
                </div>
                <div class="legendsItems">
                    <div class="legend" style="background-color: rgb(104, 102, 103);"></div>
                   
                    <h5>Surfing the web</h5>
                </div>
                <div class="legendsItems">
                    <div class="legend" style="background-color: rgb(241, 224, 14);"></div>
                    <h5>Reading</h5>
                </div>
            </div> -->
            <br>
           <!-- <ul>
               <li class="hobbiesItems">Watching Movies</li>
               <li class="hobbiesItems">Programming</li>
               <li class="hobbiesItems">Reading</li class="hobbiesItems">
               <li class="hobbiesItems">Surfing the Web</li class="hobbiesItems">
           </ul> -->
           <!-- <div class="chart" background-color: rgb(255, 255, 255);"><div style="position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 200px, 200px, 100px);"><div style="background-color: rgb(71, 92, 243); position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 100px, 200px, 0px); transform: rotate(138.371deg);"></div></div><div style="position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 200px, 200px, 100px); transform: rotate(138.371deg);"><div style="background-color: rgb(247, 86, 9); position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 100px, 200px, 0px); transform: rotate(122.4deg);"></div></div><div style="position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 200px, 200px, 100px); transform: rotate(260.771deg);"><div style="background-color: rgb(241, 224, 14); position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 100px, 200px, 0px); transform: rotate(36deg);"></div></div><div style="position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 200px, 200px, 100px); transform: rotate(296.771deg);"><div style="background-color: rgb(104, 102, 103); position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; border-radius: 200px; clip: rect(0px, 100px, 200px, 0px); transform: rotate(64.8deg);"></div></div></div> -->
        </div>

        </div>
    </div>
    </div>
    <div id="skillMain">
        <h2>Skills</h2>
        <div class="container" id="style-1">
           <div class="skillItem item11">
               <img src="./images/front.png" alt=""> 
               <span class="skillTitle">Front-End Dev.</span>
               <p class="skillPara">HTML5, CSS3,Javascript, React
            </p>
           </div> 
           <div class="skillItem item22">
               <img src="./images/javascript.png" alt=""> 
               <span class="skillTitle">Back-End Dev.</span>
               <p class="skillPara">Node.js, API's, MySQL, Git
            </p>
           </div> 
           <div class="skillItem item33">
            <img src="./images/browser.png" alt=""> 
            <span class="skillTitle">UX/UI Design</span>
            <p class="skillPara">Adobe XD, Adobe Photoshop, Figma
         </p>
        </div> 
        <div class="skillItem item44">
            <img src="./images/cpu.png" alt=""> 
            <span class="skillTitle">Hardware</span>
            <p class="skillPara">Raspberry Pi, Arduino, PCB Design
         </p>
        </div> 
        <div class="skillItem item55">
            <img src="./images/music.png" alt=""> 
            <span class="skillTitle">Music</span>
            <p class="skillPara">Drums, Piano, Trumpet
         </p>


        </div>
            
    </div>
</div>
    </div>
    <div id="contactMain">
        <div class="contactContent">
            <div class="contact-left">
           <div class="accounts">
            <a target=”_blank”  href="https://www.facebook.com/profile.php?id=100005963777682"> <img src="./images/fb.png" alt="" srcset="" ></a>
            <a target=”_blank”  href="https://www.instagram.com/diaviid0/?hl=en"> <img src="./images/ig.png" alt="" srcset=""></a>
            <a target=”_blank”  href="https://soundcloud.com/user-652937140"> <img src="./images/sc.png" alt="" srcset=""></a>
        </div>
        <h2>Contact Me...</h2>
        <br>
           <p>Please feel free to contact me. And I'll make sure on getting back to you as soon as possible. Also
               check out my social media platforms up above. </p>

            </div>
            <div class="contact-right">
                <form action="/" method="post">
                <input type="text" placeholder="Name" required=" " name="name" autocomplete="off" required />
                <input type="email" placeholder="Email" required=" " name="email" autocomplete="off" required/>
                <textarea placeholder="Message..." required=" " name="message" autocomplete="off"></textarea>
                <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <h4>COPYRIGHT 2020, ALL  RIGHTS RESERVED</h4>
    </footer>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<!--  -->
<script src="./index.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
// window.sr = ScrollReveal();
//   sr.reveal('.navbarMain', {
//     duration:3000,
//     distance:"50px",reset:true,
//     origin:'bottom'
//   });
  

window.sr = ScrollReveal();
  sr.reveal('.name', {
    duration:3000,
    distance:"50px",reset:true,
    origin:'top'
  });
  
  window.sr = ScrollReveal();
  sr.reveal('.summary', {
    duration:3000,
    distance:"100px", reset:true,
    origin:'left'
  });

  window.sr = ScrollReveal();
  sr.reveal('.nameMain', {
    duration:3000,
    distance:"50px",
    origin:'left'
  });

  window.sr = ScrollReveal();
  sr.reveal('.extraMain', {
    duration:3000,
    distance:"50px",
    origin:'right'
  });
/////////////////////////Skills//////////////////////
  window.sr = ScrollReveal();
  sr.reveal('.item11', {
    duration:3000,
    distance:"500px",
    origin:'top'
  });
  window.sr = ScrollReveal();
  sr.reveal('.item22', {
    duration:3000,
    distance:"500px",
    origin:'bottom'
  });
  window.sr = ScrollReveal();
  sr.reveal('.item33', {
    duration:3000,
    distance:"500px",
    origin:'top'
  });
  window.sr = ScrollReveal();
  sr.reveal('.item44', {
    duration:3000,
    distance:"500px",
    origin:'bottom'
  });
  window.sr = ScrollReveal();
  sr.reveal('.item55', {
    duration:3000,
    distance:"500px",
    origin:'top'
  });
//////////////////////////Contact///////////////////////
window.sr = ScrollReveal();
  sr.reveal('.contactContent', {
    duration:3000,
    distance:"150px",
    origin:'bottom'
  });
  window.sr = ScrollReveal();
  sr.reveal('.contact-left', {
    duration:3000,
    distance:"50px",
    origin:'left'
  });
  window.sr = ScrollReveal();
  sr.reveal('.contact-right', {
    duration:3000,
    distance:"50px",
    origin:'right'
  });
  



</script>

</body>
</html>